html, body   {
  height:100%;
  background-image: url("../img/background.png");
  position: static;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

.altura_general{
  height:100% !important;
  margin-right: 0px !important;
}

@font-face{
font-family: "Gotham Thin";
src: url(../fonts/GothamThinRegular.otf);
}

@font-face{
font-family: "Gotham Book";
src: url(../fonts/GothamBookRegular.otf);
}

.titulo_login{
color: rgb(255, 164, 0);
font-family: "Gotham Thin";
font-size: 50px;
}

.hr_login{
border: 0;
height: 2px;
text-align: center;
background: linear-gradient(to right,rgb(85, 54, 38), rgb(255, 103, 27), rgb(85, 54, 38));

}

.hr-collapse{
  border-top: 1px solid rgb(235, 0, 41) !important;
}

.input_login_usr{
  background-image: url(../img/user.png) ;
  background-position: 5% 50%;
  background-repeat: no-repeat;
  background-size: 12%;
  background-color: rgb(127, 105, 111);
  border-radius: 1em;
  color: rgb(255, 255, 255);
  font-family: "Gotham Thin";
  font-size: 15px;
  border-color: transparent;
  padding: 2% 5% 2% 9%;
  opacity: 0.5;
  width: 40%;
  
}

.input_login_pass{
background-image: url(../img/password.png) ;
background-position: 5% 50%;
background-repeat: no-repeat;
background-size: 13%;
background-color: rgb(127, 105, 111);
border-radius: 1em;
color: rgb(255, 255, 255);
font-family: "Gotham Thin";
font-size: 15px;
border-color: transparent;
padding: 2% 5% 2% 9%;
opacity: 0.5;
width: 40%;

}
.input_login_usr::-webkit-input-placeholder{
text-align: center;
font-family: "Gotham Thin";
font-size: 15px;
}
.input_login_pass::-webkit-input-placeholder{
  text-align: center;
  font-family: "Gotham Thin";
  font-size: 15px;
}
.input_main_find::-webkit-input-placeholder{
  font-family: "Gotham Thin";
  font-size: 15px;
}
.btn_entrar{
background-color: rgb(235, 0, 41);
color: rgb(255, 255, 255);
font-family:  "Gotham Book";
width: 40%;
height: 62px;
border-radius: 15px;
font-size: 25px;
}

.btn_incidencias{
background-color: rgb(54, 44, 47);
opacity: 50%;
border-top-right-radius: 50%;
border-bottom-right-radius: 50%;

}

.lb_incidencias{
background-color: rgb(53, 43, 46);
color: rgb(255, 255, 255);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.link_forgetpass{
color: rgb(161, 156, 156);
font-family:  "Gotham Book";
}
.link_forgetpass:hover{
color: rgb(255, 255, 255);
font-family: "Gotham Thin";
text-decoration: none;
}

button:hover{
color: rgb(255, 255, 255);
font-family: "Gotham Thin";
}
.lb_login_white{
color: rgb(255, 255, 255);
}

.div_profile{
  padding-left: 5%;
  padding-right: 5%
}

.input_main_find{
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  color: rgb(0, 0, 0);
  font-family: "Gotham Thin";
  font-size: 15px;
  border-color: transparent;
  padding: 2% 5% 2% 1%;
  width: 100%;
  text-transform: uppercase;
  
  }
.row_womargin{
  margin-right: 0px !important;
}
.label_sugerencia{
  font-family: Gotham Thin;
  font-size: 12px;
}
.modal-footer-aux{
  border-top: 0px solid rgb(229, 229, 229) !important;
}
  /*collapse-----------------------------*/
.wrapper {
    display: flex;
    align-items: stretch;
}  

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

a[aria-expanded="true"]::before {
  content: '\e260';
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.lageneral-profile-collapse{
  font-size: 15px;
  font-family: "Gotham Thin";
  color: rgb(255, 255, 255);

}
/* Paginador Estilos*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 3;
  color: rgb(255, 255, 255) !important;
  cursor: default;
  background-color: rgb(235, 0, 41) !important;
  border-color: rgb(235, 0, 41) !important;
  font-size: 18px !important;
  line-height: 1.5;
  }

  .pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 18px !important;
    line-height: 1.5;
  }

  .pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    background-color: rgb(0, 0, 0) !important;
    border: 0px solid rgb(221, 221, 221) !important;
    font-size: 18px !important;
    line-height: 1.5;
    }

  .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    display: none;
    color:  rgb(255, 255, 255) !important;
    cursor: not-allowed;
    background-color: rgb(0, 0, 0) !important;
    border-color:  rgb(0, 0, 0) !important;
    }

/*modal**/
.sumando-loading-modal-dialog .modal-content {
    height: 110px !important;
    width: 110px !important;
    background-color: transparent !important;
    border: 1px !important;
    -webkit-box-shadow: none;
    box-shadow: none !important;
    margin: 230px auto !important;
}

/* Modal posibles clientes por parametro de busqueda */
.h2_title{
  font-family: "Gotham Thin";
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 10px !important;
}

.label_titlered{
  font-family: "Gotham Regular";
  font-size: 17px;
  font-weight: bold;
  color:rgb(235, 0, 41);
}

.label_descripcion{
  font-family: "Gotham Regular";
  font-weight: bold;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.label_datainfo{
font-family: "Gotham Thin";
font-weight: bold;
color: rgb(38, 38, 38);
font-size: 17px;
}

.modal_pagebody{
  padding-left: 2%;
  overflow-y: scroll;
  height: 100%;
}
.a_barfind{
  font-family: "Gotham Thin";
  color: rgb(0, 0, 0);
}

.a_barfind:hover{
  font-family: "Gotham Book";
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.error-margin{
  border: 1px solid rgb(255, 0, 0);
}
.error{
  color: rgb(255, 0, 0);
  font-family: "Gotham Thin";
}

/* tooltip error login*/
.tooltipError {
    
    width: 120px;
    background-color: rgb(255, 103, 27);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 73%;
    margin-left: -60px;
    transition: opacity 0.3s;
    visibility: visible;
    opacity: 1;
}

.tooltipError::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 51%;
    margin-left: -56px;
    border-width: 8px;
    border-style: solid;
    border-color:  rgb(255, 103, 27) transparent transparent transparent;
}

/*   ModalAviso  */

.modalheader_aviso{
  height: 30%; 
  padding: 0%;
  background-color: rgb(0, 0, 0);
}

.p_modal_aviso{
  top: 30%;
  position: absolute;
  left: 4%;
  font-family: "Gotham Book";
  font-size: medium;
  font-weight: bold;
}

.imgOpe_infoCliente{
  width: 28%;
  padding-left: 0%;
}